

<div class="item d-flex align-items-center" *ngFor="let article of articlesList">
    <div class="image"><img src="{{article.urlToImage}}" alt="..." class="img-fluid"></div>
    <div class="title"><a href="{{article.url}}" class="animsition-link"><strong>{{article.title}}</strong> </a>
      <div class="d-flex align-items-center">
        <div class="views"><i class="icon-eye"></i> {{article.urlImage }}</div>
        <div class="comments"><i class="icon-comment"></i>12</div>
      </div>
    </div>
  </div>