<div class="row pt-5">

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]=3></agm-map>

</div>




<div class="row pt-5">

        <agm-map style="height: 660px" [latitude]="51.673858" [longitude]="7.815982" [zoom]=3>
                <agm-marker [latitude]="51.673858" [longitude]="7.815982">
                        <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                                <ng-template>
                                       <app-map-pop></app-map-pop>
                                </ng-template>
                        </agm-snazzy-info-window>
                </agm-marker>
        </agm-map>

</div>


<div class="row pt-5">
                <agm-map style="height: 300px" [latitude]="51.673858" [longitude]="7.815982">
                                <agm-snazzy-info-window [isOpen]="true" [latitude]="51.673858" [longitude]="7.815982" [closeWhenOthersOpen]="true">
                                  <ng-template>
                                    My first Snazzy Info Window!
                                  </ng-template>
                                </agm-snazzy-info-window>
                              </agm-map>
</div>