<div  *ngIf="!isSideBarList" class="row">
    <div class="post col-xl-6"  *ngFor="let article of articlesList">
        <div class="post-thumbnail"><a href="{{article.url}}" class="animsition-link"><img src="{{article.urlToImage}}" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="">
            <div class="date meta-last">{{article.publishedAt | date }}</div>
          </div><a href="{{article.url}}" class="animsition-link">
            <h3 class="h4 w-100">{{article.title}}</h3></a>
          <p class="text-muted">{{article.description}}</p>
          <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
              <div class="title">{{article.author}} </div></a>
          </footer>
        </div>
        
      </div>
</div>

<div  *ngIf="isSideBarList">
<div class="item d-flex align-items-center" *ngFor="let article of articlesList">
  <div class="image"><img src="{{article.urlToImage}}" alt="..." class="img-fluid"></div>
  <div class="title"><a href="{{article.url}}" class="animsition-link"><strong>{{article.title}}</strong> </a>
    <div class="d-flex align-items-center">
      <div class="views"><i class="icon-eye"></i> {{article.urlImage }}</div>
      <div class="comments"><i class="icon-comment"></i>12</div>
    </div>
  </div>
</div>
</div>