
    <div class="row pt-5">
      <button class="btn btn-primary" (click)="onClickGetWeather($event)"> Click to get City</button>
    </div>

    <div class="row pt-5">
      
              <agm-map [latitude]="lat" [longitude]="lng" ></agm-map>
      
      </div>

    
    <!-- <div class="row pt-5">
      <div class="col-md-6 offset-md-3">
          <yaga-map [lat]="lat" [lng]="lng" [zoom]="11">
              <yaga-zoom-control></yaga-zoom-control>
              <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
              <yaga-attribution-control></yaga-attribution-control>
              
              <yaga-tile-layer [url]="'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'" [attribution]="'© OpenStreetMap-Mitwirkende'"></yaga-tile-layer>
              <yaga-marker [(lat)]="lat" [(lng)]="lng" [(draggable)]="editable">
                <yaga-popup>
                  <h3>Hello World</h3>
                  <p>
                    This is <strong>{{ name }}</strong><br/><br/>
                    <em>Do you wan't to edit me?: <input type="checkbox" [(ngModel)]="editable"/></em> <br/>
                    <span *ngIf="editable">
                      Latitude: <input type="number" [(ngModel)]="lat" step="0.001" width="80"/><br/>
                      Longitude: <input type="number" [(ngModel)]="lng" step="0.001" width="80"/><br/>
                      This is: <input type="text" [(ngModel)]="name" width="80"/>
                    </span>
                  </p>
                </yaga-popup>
              </yaga-marker>
            </yaga-map>
  </div>
</div>

       -->
   